<!DOCTYPE html>
<html>
  <head>
    <title>Beginner Fangames</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css?asdf=1">
    <link rel="icon" type="image/png" href="images/favicon.png">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1>Recommended beginner fangames</h1>
      </div>
      <div id="content">
        <p>This page will hopefully recommend fun, easy fangames to play if you haven't played any before! (<a href="https://cwpat.me/fangames-intro" target="_blank">What are fangames?</a>)</p>

        <p>To start, here are some general recommendations, many of which are classified as "<b>adventure games</b>":</p>

        <div class="games-container">%%%
          <div class="clearboth"></div>
        </div>
        
        <p>If you're looking specifically for <b>troll games</b>, which are overloaded with clever and hilarious traps, here you go:</p>
        <div class="games-container">%%%
          <div class="clearboth"></div>
        </div>

        <p>If you're looking specifically for <b>needle games</b>, which focus on just intricate, precise spike jumps, here you go:</p>

        <div class="games-container">%%%
          <div class="clearboth"></div>
        </div>
        <p>If you're looking specifically for <b>avoidance games</b>, in which you dodge bullet barrages in sync with music, here you go:</p>

        <div class="games-container">%%%
          <div class="clearboth"></div>
        </div>

        <h2>Recommendations beyond this page</h2>
        <p>This page is only a starting point; there are so many fangames to discover! Here are a few ways to find more fangames:</p>
        <p>
          - Check out curated lists by <a href="http://www.tinyurl.com/geezerslist" target="_blank">Geezer</a>, <a href="http://tinyurl.com/lgeymuu" target="_blank">Sunbla & Zero</a>,  <a href="http://www.iwannacommunity.com/forum/index.php?topic=199.0" target="_blank">Paragus</a>, <a href="https://docs.google.com/spreadsheet/ccc?key=0Ai5kGaEf_4pidE5NNklnR2VPMUZEbklDeGNldnRGQmc&usp=sharing" target="_blank">Denferok</a>.
          <br>
          - Browse <a href="http://delicious-fruit.com/" target="_blank">Delicious Fruit</a> and search by rating, difficulty, tags, and more.
          <br>
          - Ask friends in the community for recommendations based on what you like.
        </p>

        <h2>In closing</h2>
        <p>I hope this page helps you pick good first fangames! If you want to read more about fangames and the community, check out the <a href="https://cwpat.me/fangames-intro" target="_blank">overview page</a>! And if you have any suggestions for this page please tell me! I'm Patrick no. 0303 on Discord and Clockworkpat on Twitter.</p>

      </div>

      <div id="footer">
        Design and content © <a href="https://www.twitter.com/clockworkpat" target="_blank">Patrickgh3</a> 2017
      </div>

    </div><!-- id=wrapper -->
    
  </body>
</html>
