<!DOCTYPE html>
<html>
  <head>
    <title>Beginner Fangames</title>
    <meta charset="UTF-8">
    <meta name="description" content="A list of recommended easier IWBTG fangames for newcomers to play, separated by category.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css?asdf=4">
    <link rel="icon" type="image/png" href="images/favicon.png">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div class="top-shortcut">
          Short link: <a href="http://fangam.es/beginner">fangam.es/beginner</a>
        </div>
        <h1 id="Title">Recommended beginner fangames</h1>
      </div>
      <div id="content">
        <p>This page will hopefully recommend fun, easy fangames to play if you haven't played any before! (<a href="https://cwpat.me/fangames-intro" target="_blank">What are IWBTG fangames?</a>)</p>

        <p>Be sure to extract the game's folder from the .zip into a "fangames" folder on your computer before playing, and keep each fangame in its own folder. The in-game controls are Shift to jump/select, Z to shoot, R to respawn, and Escape to quit. Also note that this page might be updated occasionally.</p>

        <h2 id="Adventure-Gimmick">Adventure and gimmick</h2>
        <p>To start, here are some general recommendations, many of which are classified as <b>adventure games</b> and/or <b>gimmick games</b>:</p>

        <div class="games-container">%%%
          <div class="clearboth"></div>
        </div>

        <h2 id="Needle">Needle</h2>
        <p>If you're looking specifically for <b>needle games</b>, which focus on just intricate, precise spike jumps, here you go:</p>

        <div class="games-container">%%%
          <div class="clearboth"></div>
        </div>

        <h2 id="Avoidance">Avoidance</h2>
        <p>If you're looking specifically for <b>avoidance games</b>, in which you dodge bullet barrages in sync with music, here you go:</p>

        <div class="games-container">%%%
          <div class="clearboth"></div>
        </div>

        <h2 id="Trap">Trap</h2>
        <p>If you're looking specifically for <b>trap or "troll" games</b>, which are overloaded with clever and funny traps, here you go:</p>
        <div class="games-container">%%%
          <div class="clearboth"></div>
        </div>

        <h2 id="Challenge">Challenge</h2>
        <p>If you would enjoy starting with very challenging games (most people don't), or you have some fangame experience built up, here you go:</p>
        <div class="games-container">%%%
          <div class="clearboth"></div>
        </div>

        <h2 id="Further-Recommendations">Recommendations beyond this page</h2>
        <p>This page is only a starting point; there are so many fangames to discover! Here are a few ways to find more fangames:</p>
        <p>
          - Check out curated lists by <a href="http://www.tinyurl.com/geezerslist" target="_blank">Geezer</a>, <a href="http://tinyurl.com/lgeymuu" target="_blank">Sunbla & Zero</a>,  <a href="http://www.iwannacommunity.com/forum/index.php?topic=199.0" target="_blank">Paragus</a>, <a href="https://docs.google.com/spreadsheet/ccc?key=0Ai5kGaEf_4pidE5NNklnR2VPMUZEbklDeGNldnRGQmc&usp=sharing" target="_blank">Denferok</a>, <a href="https://docs.google.com/spreadsheets/d/1QG6OskO5wpjnLqcCeVz2JiJ-l_kuUVwL-cZeVXUXezw/edit?usp=sharing">Inferno</a>.
          <br>
          - Browse <a href="http://delicious-fruit.com/" target="_blank">Delicious Fruit</a> and search by rating, difficulty, tags, and more.
          <br>
          - Ask friends in the community for recommendations based on what you like.
        </p>

        <h2 id="Closing">In closing</h2>
        <p>I hope this page helps you pick good first fangames! If you want to read more about fangames and the community, check out the <a href="https://cwpat.me/fangames-intro" target="_blank">overview page</a>! And if you have any suggestions for this page please tell me! I'm Patrick no. 0303 on Discord and Clockworkpat on Twitter. Thanks to shign for additional game suggestions.</p>

      </div>

      <div id="footer">
        Design and content © <a href="https://www.twitter.com/clockworkpat" target="_blank">Patrickgh3</a> 2017
      </div>

    </div><!-- id=wrapper -->

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//cwpat.me/analytics/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
    
  </body>
</html>
