

/* Globals */
* { margin: 0; padding: 0; }
body {
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; letter-spacing: 0.01em;
    background-color: #333;
}

/* Structure */
#wrapper { background-color: #FFF; margin: 0 auto; max-width: 100%; width: 1200px; }

#header { padding: 0.5em 1.5em 1.5em; }
    h1 { font-size: 3em; }
    .top-shortcut { text-align: right; }

#content { padding: 0 1.5em 1.5em; }
    h2 { font-size: 2em; margin: 1.5em 0 0.5em; }
    p { font-size: 1.25em; line-height: 1.25em; }
        p + p {margin-top: 1.25em;}
    a { color: #4078cf; transition: color .1s linear; }
        a:visited {color: #9740CF;}
        a:hover {color: #CF4078;}

    .games-container { margin: 0 -1.5em }

    .game { float: left; text-align: center; width: 240px; height: 250px;}
        .game a { display: inline-block; color: inherit; text-decoration: none; width: 100%; height: 100%; }
        .game a:hover {background-color: #eee; }
        .game h3 { font-weight: normal; font-size: 1.25em; padding: 0.25em 0 0; }
        .game h4 { font-weight: normal; padding-top: 0.25em; }
        .game img { padding: 1em 0 0; }

    .games-container + p { margin-top: 1.25em; }
    p + .games-container { margin-top: 1.25em; }

    .clearboth {clear: both;}

#footer { background-color: #E9E9E9; border-top: 1px solid black; padding: 0.5em; }

